doctype html
html
  head
    title= title

  body#body(style="overflow: hidden;")
    block content



    script(src='/js/reload.js')

    script(src='/js/moment.min.js')
    script(src='/js/moment-timezone-with-data.js')
    script(src='/js/moment-hijri.js')
    script!= settingsdef
    script!= timetabledef
    //- script(src='/js/db.js')
    if time
        script(src='/js/time.js')
        script(src='/js/jquery.min.js')
    
    block scripts
