doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/timetable/css/normalize.css')
    //- link(rel='stylesheet', href='/css/milligram.min.css')
    link(rel='stylesheet', href='/timetable/css/uikit.min.css')
    link(rel='stylesheet', href='/timetable/css/open-sans.css')
    link(rel='stylesheet', href='/timetable/css/changa.css')
    link(rel='stylesheet', href='/timetable/css/icon.css')
    link(rel='stylesheet', href='/timetable/css/style.css')
  body.admin
    block content

    //- script(src='/js/reload.js')
    script(src='/timetable/js/jquery.min.js')
    //- script(src='/js/moment.min.js')
    //- script(src='/js/moment-timezone-with-data.js')
    //- script(src='/js/moment-hijri.js')
    script(src='/timetable/js/uikit.min.js')
    script(src='/timetable/js/uikit-icons.min.js')